.card-header {
    color: black;
    font-style: italic;
    fieldset {
        border: 1px solid blueviolet;
        margin: 5px;
        padding: 12px;
        display: flex;
        .block {
            margin: 7px;
        }
        legend {
            color: blueviolet;
            font-size: 12px;
            display: inline-block;
            padding: 6px;
            text-align: center;
            width: auto;
        }
    }
}
